@import url("https://fonts.googleapis.com/css?family=Oswald");

$spaciousness: 0.1em;
$doublespaciousness: 2em;
$sanserif: "Oswald", sans-serif;
$main: #69be28;

.number {
  font-size: ($doublespaciousness * 5);
  font-family: $sanserif;
  color: $main;
  padding: ($spaciousness/2);
}
