@import url("https://fonts.googleapis.com/css?family=Oswald");

$spaciousness: 2em;
$doublespaciousness: 2.5em;
$sanserif: "Oswald", sans-serif;
$main: #dffde6;
$buttontext: #69be28;
$text: #69be28;

button {
  background-color: $main;
  font-size: $doublespaciousness;
  font-family: $sanserif;
  border: none;
  padding-left: ($spaciousness/2);
  padding-right: ($spaciousness/2);
  padding-bottom: ($spaciousness/4);
  color: $text;
  border-radius: 0.2em;
}
