@import url("https://fonts.googleapis.com/css?family=Oswald");

// * {
//   background-color: #002244;
// }

* {
  position: center;
  background: url("https://wallpapercave.com/wp/oNj6yc5.jpg");
}

.main-section {
  margin-top: 4em;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
